﻿@model WebBlueSoft.Models.CuentaAhorroViewModel

@{
    ViewData["Title"] = "Consignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consignacion</h1>

<h4>CuentaAhorroViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Consignacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroCuenta" class="control-label"></label>
                <input asp-for="NumeroCuenta" class="form-control" />
                <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreTitular" class="control-label"></label>
                <input asp-for="NombreTitular" class="form-control" />
                <span asp-validation-for="NombreTitular" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValorConsignacion" class="control-label"></label>
                <input asp-for="ValorConsignacion" class="form-control" />
                <span asp-validation-for="ValorConsignacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
