﻿@model WebBlueSoft.Models.CuentaAhorroViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Información de la cuenta</h1>


<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroCuenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTitular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreTitular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorConsignacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorConsignacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRetiro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorRetiro)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.NumeroCuenta }, new { @class = "btn btn-warning" })

    <a class="btn btn-success" role="button" asp-action="Index">Atras</a>
</div>
