﻿@model IEnumerable<WebBlueSoft.Models.CuentaAhorroViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Listado de Cuentas</h1>

<p>
    <a class="btn btn-info" role="button" asp-action="Create">Crear cuenta de ahorros</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreTitular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorConsignacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorRetiro)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTitular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorConsignacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorRetiro)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.NumeroCuenta }, new { @class = "btn btn-outline-warning" }) |
                    @Html.ActionLink("Consignar", "Consignacion", new { id = item.NumeroCuenta }, new { @class = "btn btn-outline-warning" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.NumeroCuenta }, new { @class = "btn btn-outline-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
